# Huge Egyptian Museum Opens for Test Run

No media source currently available

The Grand Egyptian Museum in Giza will open a limited number of exhibits about ancient Egypt starting this week. The limited opening will be a test run of the still-unannounced official opening of the museum, officials said.

Starting on October 16, 4,000 visitors per day will be permitted to view limited areas of the main galleries, said Al-Tayeb Abbas. He is assistant to Egypt’s minister of antiquities.

Museum officials have repeatedly delayed the museum opening for many reasons, including the COVID-19 pandemic. Some areas have been open since 2022 for limited tours.

The museum is a huge project near the famous Giza Pyramids. The building project began more than 12 years ago and has cost more than $1 billion so far.

The Egyptian government says more than 100,000 artifacts of Egypt’s ancient treasures are on show at the site. Officials describe it as the world’s largest archaeological museum.

The exhibits in the test run include 12 areas that explore issues related to society, religion, and philosophies of ancient Egypt, Abbas added. The areas are divided by dynasty and historical order.

Historical divisions include the Third Intermediate Period, Late Period, and Graeco-Roman Period. It also includes the New Kingdom, Middle Kingdom, and Old Kingdom periods. They all represent life thousands of years in the past.

One of the areas displays statues of the “Elite of the King.” These represent members of a king’s family, and high-level officials who worked in the army, government or religious service.

Abbas told the AP that the test run would help prepare for the full opening by identifying operational issues. This includes finding out which parts of the museum might become overcrowded.

A reporter for the Associated Press spoke with some tourists at the museum.

Canadian visitor Aude Porcedda told the AP she was amazed by the museum. She said she believes it is important that the world know about Egyptian civilization.

Jorge Licano, a visitor from Costa Rica expressed similar praise.

“There is a lot of history and a lot of things we are not aware of, especially coming from the other side of the world, and seeing everything here and learning from the locals has been great,” he said.

The limited opening includes the museum’s so-called Grand Staircase. It is six stories high with a view of the nearby pyramids. Also open to the public, are artifacts that include sarcophagi and statues. Other parts of the museum, including the King Tutankhamun treasure collection, are set to open at later dates.

All the exhibit space is equipped with high-level technology and permit different kinds of media presentations to help explain the lives of ancient Egyptians, including kings, said museum official, Eissa Zidan.

Some exhibits will use virtual reality to explain the history of burial and its development throughout ancient Egypt.

“The museum is not only a place to display antiquities, but it also aims to attract children to learn about ancient Egyptian history ... The museum is a gift to all the world,” Zidan told the AP.

I’m Anna Matteo.

Ahmed Hatem and Fatma Khaled reported this story for The Associated Press. Anna Matteo adapted it for VOA Learning English.

---

grand -adj. great in size : marked by magnificence

exhibit -n. an article or a collection shown in a public display

gallery -n. a room or building devoted to the exhibition of works of art

antiquity -n. objects or monuments from ancient times

tour -n. a journey for business, pleasure, or education often involving a series of stops and ending at the starting point

artifact -n. a usually simple object (as a tool or ornament) showing human work and representing a culture or a stage in the development of a culture

dynasty -n. a succession of rulers of the same line of descent

amazed -adj. feeling or showing great surprise or wonder

sarcophagus -n. a stone coffin : plural sarcophagi
